.news-container {
    display: block;
    position: relative;
    background-color: #819fbb83;
    padding: 20px;
}

.news-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 600px;
    justify-content: space-between;
    overflow: auto;
}

.card_news_body {
    display: block;
    position: relative;
    padding: 8px;
}

.card_news_footer {
    display: block;
    position: relative;
    padding: 0px 8px;
}

.card_news_link {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 16rem;
    max-width: 16rem;
    height: 18rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: var(--branco);

}

.card_news_link:hover {
    border: 1px solid var(--azul-marinho);
}

.news-rotulo{
    display: block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 16pt;
    font-weight: 700;
    color: var(--azul-marinho);
    background-color: var(--branco-transp);
}

.card_news_container {

}

.card_news_img {
    display: block;
    position: relative;
    width: 100%;
    /* height: 9rem; */
    margin-bottom: 0px;
    border-radius: 8px 8px 0px 0px;

}

.card_news_data {
    display: flex;
    position: relative;
    flex-direction: row;
    color: var(--cinza-dark);
    font-size: 7pt;

}

.card_news_data span {
    margin-left: 5px;
}

.card_news_title {
    display: block;
    position: relative;
    color: var(--azul-marinho);
    font-size: 8pt;
    font-weight: 700;
    text-align: justify;
}

.card_news_texto {
    font-size: smaller;
    text-align: justify;
    height: 30px;
    font-size: 7pt;
    overflow: hidden;
}

