@tailwind base;
@tailwind components;
@tailwind utilities;

.tittulo-princ {
    display: block;
    position: relative;
    top: 60px;
    width: 70%;
    height: 50px;
    background-color: var(--azul-marinho);
    border-radius: 0px 0px 8px 0px;
    z-index: -1;
}

.tittulo-princ h3 {
    display: block;
    position: relative;
    text-align: end;
    font-size: 15pt;
    font-weight: 700;
    text-transform: uppercase;
    top: 5px;
    letter-spacing: 0.1rem;
    color: var(--branco);
    padding-right: 10px;
    padding-top: 10px;
}
.mensagem {
    display: block;
    position: relative;
    margin: 10px 0px;
    padding: 8px 10px;
    color: var(--azul-marinho);
    text-align: justify;
    font-size: 13pt;
    font-weight: 600;
    font-style: italic;
    background-color: var(--azul-transp);
    border:0.3rem solid var(--branco);
}

.box-qrt {
    display: flex;
    flex-direction: row;
    height: 60px;
}

.contaniner-padrao {
    display: block;
    position: relative;
    background-color: #819fbb83;
    padding: 10px;
}

.list-padrao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    max-height: 600px;
    justify-content: space-between;
    overflow: hidden;
}

.list-padrao:hover{
    overflow-y: scroll;
}

.list-padrao::-webkit-scrollbar {
    width: 6px;
}

.list-padrao::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: var(--azul-transp);
}

.list-padrao::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: var(--azul);
}

.rotulo-padrao {
    display: block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 16pt;
    font-weight: 700;
    color: var(--azul-marinho);
    background-color: var(--branco-transp);
}

.subrotulo-padrao {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--azul-marinho);
    font-size: 12pt;
    font-weight: 700;
}

/* Pesquisa Categoria */

.search-category {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}

.search-category > label {
    display: inline;
    position: relative;
    margin: auto;
    padding: 5px 15px;
    text-align: center;
    z-index: -1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: var(--branco);
    font-size: 10pt;
    text-transform: uppercase;
    background-color: var(--azul-marinho);
}


.search-category > select {
    display: block;
    position: relative;
    margin: auto;
    min-width: 50%;
    padding-left: 2.2rem;
    border-radius: 8px;
    color: var(--azul-marinho);
    font-size: 14pt;
    font-weight: 600;
    box-shadow: 2px 1px 8px 2px #1111111e;
    border: 0px;

}

/* Medição */
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 740px) {

}

@media screen and (max-width: 350px) {

}
