:root {
    --azul: #76a8fc;
    --azul-dark: #6f9ae4;
    --azul-marinho: #075AA9;
    --azul-escuro: #043f75;
    --azul-claro: #ebf2fc;
    --branco: #fff;
    --cinza-claro: #dddddd;
    --cinza: #ccc;
    --cinza-escuro: #adadad;
    --vermelho: #e31823;
}


