#card-destaque {
    display: block;
    position: relative;
    background-color: var(--branco-transp);
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

.rotulo {
    display: block;
    position: relative;
    font-size: 16pt;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--azul-escuro);
    background-color: var(--branco-transp);
}

.card-container {
    height: 675px;
    margin-bottom: 5px;
    overflow: hidden;
}

.card-container:hover{
    overflow-y: scroll;
}
.card-container:hover::-webkit-scrollbar {
    width: 6px;
}

.card-container:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: var(--azul-transp);
}

.card-container:hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: var(--azul);
}

/* Destaque Pequeno */
.card-container-peq {
    height: 380px;
    margin-bottom: 5px;
    overflow: hidden;
}

.card-container-peq:hover{
    overflow-y: scroll;
}
.card-container-peq:hover::-webkit-scrollbar {
    width: 6px;
}

.card-container-peq:hover::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: var(--azul-transp);
}

.card-container-peq:hover::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: var(--azul);
}
/* -------------------------- */
.card-body {
    display: block;
    position: relative;
    min-width: 16rem;
    width: 95%;
    height: 9rem;
    background-color: var(--branco);
    padding: 8px;
    margin:  10px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 1px var(--preto-traansp);
}

.card-body > h4 {
    display: block;
    position: relative;
    text-transform: capitalize;
    font-size: 12pt;
    font-weight: 600;
    color: var(--azul-escuro);
}

.card-body > p {
    display: block;
    position: relative;
    text-transform: capitalize;
    font-size: 10pt;
    font-weight: 600;
    color: var(--cinza-dark);
}

.card-texto {

}

.card-texto > p {
    display: block;
    position: relative;
    text-align: justify;
    font-size: 10pt;
    font-weight: 500;
    color: var(--cinza-dark);
}

.card-texto > a {
    display: block;
    position: relative;
    text-align: end;
    font-size: 10pt;
    font-weight: 500;
    color: var(--azul);
}

.card-texto > a:hover {
    color: var(--azul-escuro);
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.card-footer > p {
    display: block;
    position: relative;
    text-align: justify;
    font-size: 8pt;
    font-weight: 500;
    margin: 0px;
    margin-left: 10px;

}

/* Card Ultma Noticias */

#card-lastnews, #card-materias {
    display: block;
    position: relative;
    background-color: var(--branco-transp);
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

.card-lastnews-container {
    height: 535px;
    margin-bottom: 5px;
    overflow: hidden;

}

.card-lastnews-container:hover{
    overflow-y: scroll;
}

.card-lastnews-container::-webkit-scrollbar {
    width: 6px;
}

.card-lastnews-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: var(--azul-transp);
}

.card-lastnews-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: var(--azul);
}

.card-news {
    display: flex;
    position: relative;
    width: 95%;
    min-width: 20rem;
    color: var(--azul-escuro);
    background-color: var(--branco);
    padding: 8px;
    margin:  10px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 1px var(--preto-traansp);
}

.card-news img {
    display: block;
    width: 120px;
    height: 100px;
    margin-right: 5px;
    border-radius: 8px;
}

.card-news-body {
    display: block;
}

.card-news-body h4 {
    display: block;
    margin-bottom: 3px;
    font-size: 8.8pt;
    font-weight: 600;
    text-align: justify;
    line-height: 13px;
}

.card-news-body p {
    display: block;
    margin-bottom: 3px;
    height: 30px;
    font-size: 8pt;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    line-height: 14px;

}

.card-news-footer {
    display: flex;
    height: 19px;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    color: var(--azul);
}

.card-news-footer p {
    margin-left: 10px;
}

/* Card Ultma Noticias Pequeno */

#card-lastnews-peq {
    display: block;
    position: relative;
    background-color: var(--branco-transp);
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}

.card-lastnews-container-peq, .card-materias-container {
    height: 380px;
    margin-bottom: 5px;
    overflow: hidden;

}

.card-lastnews-container-peq:hover{
    overflow-y: scroll;
}

.card-lastnews-container-peq::-webkit-scrollbar {
    width: 6px;
}

.card-lastnews-container-peq::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: var(--azul-transp);
}

.card-lastnews-container-peq::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: var(--azul);
}

.card-news-peq {
    display: flex;
    position: relative;
    width: 95%;
    min-width: 20rem;
    color: var(--azul-escuro);
    background-color: var(--branco);
    padding: 8px;
    margin:  10px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 1px var(--preto-traansp);
}

.card-news-peq img {
    display: block;
    width: 120px;
    height: 100px;
    margin-right: 5px;
    border-radius: 8px;
}

.card-news-body-peq {
    display: block;
}

.card-news-body-peq h4 {
    display: block;
    margin-bottom: 3px;
    font-size: 8.8pt;
    font-weight: 600;
    text-align: justify;
    line-height: 13px;
}

.card-news-body-peq p {
    display: block;
    margin-bottom: 3px;
    height: 30px;
    font-size: 8pt;
    font-weight: 400;
    text-align: justify;
    overflow: hidden;
    line-height: 14px;

}

.card-news-footer-peq {
    display: flex;
    height: 19px;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    color: var(--azul);
}

.card-news-footer-peq p {
    margin-left: 10px;
}


/* Card Links Externos */
.card_links_externo {
    display: block;
    position: relative;
    width: 16rem;
    margin-left: 10px;
    padding: 10px;
    background-color: var(--azul-transp);
    border-radius: 8px 0px 0px 8px;
}
.card_title_link {
    color: var(--azul-escuro);
    font-size: medium;
    font-weight: 600;

}
.card_body_link {
    display: flex;
    flex-direction: row;
    color: var(--azul-escuro);
}

.card_title_link_reta {
    margin-top: 5px;
    margin-bottom: 10px;
    border-color: var(--azul-escuro);
}

.card_body_link img {
    display: block;
    width: 20px;
    height: 20px;
}

.card_body_link p {
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 10pt;
}


/* Medição */
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 975px) {
    .card-body {
        width: 100%;
    }

    .card-news {
        width: 100%;
    }

    .card_links_externo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin-top: 8px;
        margin-left: 0px;
        padding: 10px;
        background-color: var(--azul-transp);
        border-radius: 0px;
    }

}

.dest-card-contianer{
    display: flex;
    position: relative;
    padding: 10px;
    margin: 10px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}
.dest-card {
    display: flex;
    position: relative;
    width: 30rem;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--branco);
    border-radius: 8px 8px 8px 8px;
    border: 1px solid var(--branco);
    margin-bottom: 8px;
    overflow: hidden;
}

.dest-card:hover {
    border: 1px solid var(--cinza);
}

.dest-card img {
    display: block;
    position: relative;
    width: 12rem;

}

.dest-card-body {
    padding: 10px;
    height: 100px;
}

.dest-card-body h3 {
    font-size: 9pt;
    font-weight: 700;
    height: 40px;
    text-transform: capitalize;
    color: var(--azul-marinho);
    overflow: hidden;
    text-overflow: "...";
}

.dest-card-body p {
    font-size: 8pt;
    text-align: justify;
    color: var(--cinza-dark);
    height: 30px;
    overflow: hidden;
    text-overflow: "...";
}

.dest-card-footer {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 5px;
}

.dest-card-footer i {
    margin-top: 1px;
    font-size: 9pt;
    color: var(--cinza-dark);
}

.dest-card-footer p{
    margin-left: 5px;
}

/* Lista Materias */
.card-materias-container > ul {
    display: block;
    position: relative;
    color: var(--azul-marinho);
    font-size: 14pt;
    font-weight: 500;

}
.card-materias-container > ul > li {

}
.card-materias-container > ul > li:hover {
    background-color: var(--branco);
}
.card-materias-container > ul > li > a {
    display: block;
    position: relative;
    padding: 5px 15px;
}
.card-materias-container > ul > li > a:hover {
    color: var(--azul);
}

/* Card de Game */
.card_game_container {
    display: block;
    position: relative;
}

.card_game {
    display: block;
    width: 25rem;
    height: 12rem;
    border: 2px solid var(--branco);
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card_game-body {
    display: block;
    position: relative;
    height: 13rem;
    top: 12rem;
    background-color: var(--azul-marinho);
    padding: 10px;
}

.card_game-body h3, .card_game-body p {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--branco);
}

.card_game:hover .card_game-body {
    top: 1rem;
    transition: 0.5s;
}

.card_game-body h3 {
    height: 60px;
    font-size: 13pt;
    font-weight: 700;
}

.card_game-body p {
    margin-top: 10px;
    height: 60px;
    font-size: 10pt;

}

.card_game_container > a {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    bottom: 40px;
    left: 75%;
    color: var(--branco-transp);
    text-align: center;
    background-color: var(--azul-marinho);
    border-radius: 100%;
    font-size: 48pt;
}

.card_game_container > a:hover {
    color: var(--branco);
    border-radius: 8px;
    box-shadow: 0px 0px 7px 1px var(--preto-traansp);
    transition: 0.5s;


}

.card_game_container > a > i {
    display: block;
    position: relative;
    padding-top: 8px;
}

/* Biblioteca */

.card_ind_livro_contianer {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
}

.card_ind_livro {
    display: flex;
    position: relative;
    margin: 15px 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 24rem;
    height: 12rem;
    background-color: var(--azul-marinho);
    border-radius: 8px;
    padding: 10px;
}

.card_ind_livro:hover {
    border: 2px solid var(--branco);

    box-shadow: 0px 0px 7px 1px var(--preto);
}

.card_ind_livro:hover .card_ind_livro_img {
    border: 2px solid var(--azul);
    box-shadow: 0px 0px 7px 1px var(--preto);
}

.card_ind_livro_img {
    display: block;
    position: relative;
    top: -2rem;
    left: -1rem;
    width: 30rem;
    height: 12rem;
    border: 2px solid var(--azul-marinho);
    border-radius: 8px;
    background-position: center;
    background-size: auto;
    z-index: 2;
}

.card_ind_livro h4 {
    font-size: 12pt;
    font-weight: 600;
    color: yellow;
}

.card_ind_livro h3 {
    font-size: 16pt;
    font-weight: 600;
    color: var(--branco);
}

.card_ind_livro p {
    text-align: justify;
    font-size: 10pt;
    font-weight: 400;
    height: 5rem;
    color: var(--branco);
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_ind_livro a {
    display: block;
    position: relative;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    color: var(--azul-marinho);
    background-color: var(--branco-transp);
    padding: 2px 10px;
    margin-top: 5px;
    border-radius: 8px;
}
.card_ind_livro a:hover{
    color: var(--azul-marinho);
    background-color: var(--branco);
    box-shadow: 0px 0px 7px 1px var(--preto-traansp);

}
@media screen and (max-width: 740px) {

}

@media screen and (max-width: 350px) {
    .card_links_externo {
        flex-direction: column;
    }
}
