#menu-footer {
    display: block;
    position: relative;
    padding: 10px 0px 0px 0px;
    text-transform: capitalize;
    /* background-color: var(--cinza); */
}

.menuprinc-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menuprinc-footer > ul {

}

.menuprinc-footer > ul > li {

}

.menuprinc-footer a {
    display: block;
    position: relative;
    width: 100%;
    color: var(--azul);
    font-size: 9pt;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--azul);
}

.menuprinc-footer a:hover {
    font-weight: 700;
    color: var(--branco);

}


/* Sub menu */
.submenu-footer {

}

.submenu-footer > ul {

}

.submenu-footer > ul > li {

}

.submenu-footer > ul > li > a {
    margin-top: 5px;
    font-size: 12pt;
    font-weight: 400;
    text-transform: capitalize;
    text-align: start;

}

.submenu-footer > ul > li > a:hover {
    font-weight: 500;
    color: var(--cinza);
}
